# Data Aggregation and group operations

In [1]:
import pandas as pd
import numpy as np
df = pd.DataFrame({'key1' : ['a', 'a', 'b', 'b', 'a'],
 'key2' : ['one', 'two', 'one', 'two', 'one'],
 'data1' : np.random.randn(5),
'data2' : np.random.randn(5)})

In [ ]:
df

In [ ]:
grouped = df['data1'].groupby(df['key1'])
grouped

In [ ]:
grouped.mean()

In [ ]:
means = df['data1'].groupby([df['key1'], df['key2']]).mean()

In [ ]:
means

In [ ]:
means.unstack()

In [ ]:
states = np.array(['Ohio', 'California', 'California', 'Ohio', 'Ohio'])
years = np.array([2005, 2005, 2006, 2005, 2006])
df['data1'].groupby([states, years]).mean()

In [ ]:
df.groupby('key1').mean()

In [ ]:
df.groupby(['key1', 'key2']).mean()

In [ ]:
df.groupby(['key1', 'key2']).size()#returns group size

# Iterating Over Groups

In [ ]:
for name, group in df.groupby('key1'):
    print name
    print group

In [ ]:
for (k1, k2), group in df.groupby(['key1', 'key2']):
    print k1, k2
    print group

In [ ]:
pieces = dict(list(df.groupby('key1')))
pieces

In [ ]:
pieces['a']

In [ ]:
df.dtypes

In [ ]:
grouped = df.groupby(df.dtypes, axis=1)
grouped

In [ ]:
dict(list(grouped))

# Selecting a Column or Subset of Columns

In [ ]:
df.groupby('key1')['data1']
df.groupby('key1')[['data2']]

In [ ]:
"""n the above data set, to compute means for just the  data2 column and get
the result as a DataFrame, we could write"""
df.groupby(['key1', 'key2'])[['data2']].mean()

In [ ]:
s_grouped = df.groupby(['key1', 'key2'])['data2']

In [ ]:
s_grouped.mean()

# Grouping with Dicts and Series

In [ ]:
people = pd.DataFrame(np.random.randn(5, 5),
columns=['a', 'b', 'c', 'd', 'e'],
 index=['Joe', 'Steve', 'Wes', 'Jim', 'Travis'])

In [ ]:
people.ix[2:4, ['b', 'c']] = np.nan #ix A primarily label-location based indexer, with integer position fallback.

In [ ]:
people

In [ ]:
mapping = {'a': 'red', 'b': 'red', 'c': 'blue',
 'd': 'blue', 'e': 'red', 'f' : 'orange'}

In [ ]:
 by_column = people.groupby(mapping, axis=1)

In [ ]:
by_column.sum()

In [ ]:
map_series = pd.Series(mapping)
map_series

In [ ]:
people.groupby(map_series, axis=1).count()

# Grouping with Functions

In [ ]:
people.groupby(len).sum() #group by length of names

In [ ]:
key_list = ['one', 'one', 'one', 'two', 'two']

In [ ]:
people.groupby([len, key_list]).min()

# Grouping by Index Levels

In [ ]:
columns = pd.MultiIndex.from_arrays([['US', 'US', 'US', 'JP', 'JP'],
 [1, 3, 5, 1, 3]], names=['cty', 'tenor'])

In [ ]:
columns

In [ ]:
hier_df = pd.DataFrame(np.random.randn(4, 5), columns=columns)
hier_df

In [ ]:
hier_df.groupby(level='cty', axis=1).count()

# Data Aggregation

In [ ]:
import pandas as pd
import numpy as np
df = pd.DataFrame({'key1' : ['a', 'a', 'b', 'b', 'a'],
 'key2' : ['one', 'two', 'one', 'two', 'one'],
 'data1' : np.random.randn(5),
'data2' : np.random.randn(5)})

In [ ]:
df

In [ ]:
grouped = df.groupby('key1')
grouped

In [ ]:
#agg with your own function
def peak_to_peak(arr):
    return arr.max() - arr.min()

In [ ]:
grouped.agg(peak_to_peak)

In [ ]:
#check with describe
grouped.describe()

In [ ]:
1.138504+0.114279

In [60]:
tips = pd.read_csv('restuarant.csv')

In [63]:
tips['tip_pct'] = tips['tip'] / tips['total_bill']

In [179]:
tips[:6]

   total_bill  tip sex smoker  day    time  size   tip_pct
0        1000   10   F     No  Sun  dinner     3  0.010000
1        2000   15   M     No  Mon  dinner     4  0.007500
2        1500   10   F     No  Tue   lunch     2  0.006667
3        1200   12   F     No  Sun   lunch     2  0.010000
4        1300   12   M     No  Mon  dinner     3  0.009231
5         800   10   M    yes  Tue  dinner     2  0.012500

# Column-wise and Multiple Function Application

In [ ]:
grouped = tips.groupby(['sex', 'smoker'])

In [ ]:
grouped_pct = grouped['tip_pct']

In [ ]:
grouped_pct.agg('mean')

In [ ]:
grouped_pct.agg(['mean', 'std', peak_to_peak])

In [ ]:
grouped_pct.agg([('foo', 'mean'), ('bar', 'std')])

In [ ]:
functions = ['count', 'mean', 'max']
result = grouped['tip_pct', 'total_bill'].agg(functions)
result

In [ ]:
result['tip_pct']

In [ ]:
ftuples = [('MeanValue', 'mean'), ('Variance', np.var)]#custom names

In [ ]:
grouped['tip_pct', 'total_bill'].agg(ftuples)

In [ ]:
grouped.agg({'tip' : np.max, 'size' : np.sum})#to apply  different functions to one or more of the columns.

In [ ]:
grouped.agg({'tip_pct' : ['min', 'max', 'mean', 'std'],'size' : 'sum'})

# Returning Aggregated Data in “unindexed” Form

In [ ]:
tips.groupby(['sex', 'smoker'], as_index=False).mean()

# Group-wise Operations and Transformations

# transformand apply method

In [ ]:
k1_means = df.groupby('key1').mean().add_prefix('mean_')

In [ ]:
k1_means

In [ ]:
pd.merge(df, k1_means, left_on='key1', right_index=True)

In [ ]:
key = ['one', 'two', 'one', 'two', 'one']

In [ ]:
people.groupby(key).mean()

In [ ]:
people.groupby(key).transform(np.mean)

In [ ]:
def demean(arr):
    return arr - arr.mean()

In [ ]:
demeaned = people.groupby(key).transform(demean)
demeaned

# Apply: General split-apply-combine

In [ ]:
def top(df, n=5, column='tip_pct'):
    return df.sort_values(by=column)[-n:]

In [ ]:
top(tips, n=6)

In [ ]:
tips.groupby('smoker').apply(top)

In [ ]:
tips.groupby(['smoker', 'day']).apply(top, n=5, column='total_bill')

In [ ]:
result = tips.groupby('smoker')['tip_pct'].describe()
'''
shortcut for
f = lambda x: x.describe()
grouped.apply(f)'''

In [ ]:
result

# Suppressing the group keys

In [ ]:
tips.groupby('smoker', group_keys=False).apply(top)

# Quantile and Bucket Analysis

In [ ]:
import pandas as pd
import numpy as np
frame = pd.DataFrame({'data1': np.random.randn(1000),'data2': np.random.randn(1000)})

In [ ]:
factor = pd.cut(frame.data1, 4)

In [ ]:
factor[:10]

In [ ]:
def get_stats(group):
    return {'min': group.min(), 'max': group.max(),'count': group.count(), 'mean': group.mean()}

In [ ]:
grouped = frame.data2.groupby(factor)#The Factorobject returned by cutcan be passed directly to groupby

In [ ]:
grouped.apply(get_stats).unstack()

In [ ]:
grouping = pd.qcut(frame.data1, 10, labels=False)

In [ ]:
grouped = frame.data2.groupby(grouping)

In [ ]:
grouped.apply(get_stats).unstack()

# Filling Missing Values with Group-specific Values

In [ ]:
s = pd.Series(np.random.randn(6))

In [ ]:
s[::2] = np.nan
s

In [ ]:
s.fillna(s.mean())

In [ ]:
states = ['Ohio', 'New York', 'Vermont', 'Florida','Oregon', 'Nevada', 'California', 'Idaho']

In [ ]:
group_key = ['East'] * 4 + ['West'] * 4

In [ ]:
data = pd.Series(np.random.randn(8), index=states)
data

In [ ]:
data[['Vermont', 'Nevada', 'Idaho']] = np.nan

data

In [ ]:
data.groupby(group_key).mean()

In [ ]:
fill_mean = lambda g: g.fillna(g.mean())#achgroup is filld with its own mean

In [ ]:
data.groupby(group_key).apply(fill_mean)

In [ ]:
fill_values = {'East': 0.5, 'West': -1}#fill with predfined values

In [ ]:
fill_func = lambda g: g.fillna(fill_values[g.name])

In [ ]:
data.groupby(group_key).apply(fill_func)

# Random Sampling and Permutation

In [ ]:
suits = ['H', 'S', 'C', 'D']
card_val = (range(1, 11) + [10] * 3) * 4
card_val

In [ ]:
base_names = ['A'] + range(2, 11) + ['J', 'K', 'Q']
base_names

In [ ]:
cards = []
for suit in ['H', 'S', 'C', 'D']:
    cards.extend(str(num) + suit for num in base_names)
deck = pd.Series(card_val, index=cards)
deck[:26]

In [ ]:
def draw(deck, n=2):
    return deck.take(np.random.permutation(len(deck))[:])

In [ ]:
total_cards=draw(deck)
total_cards

In [ ]:
p1=total_cards[:26]
p2=total_cards[26:]
#print p1,p2
t=[]
def draw(deck, n=2):
    return deck.take(np.random.permutation(len(deck))[:n])
t=draw(p1,1)
p1

In [ ]:
t[0]

In [ ]:
p1=p1.drop(t.index)

In [ ]:
p1.

In [ ]:
# two random cards from each suit
get_suit = lambda card: card[-1] # last letter is suit

In [ ]:
deck.groupby(get_suit).apply(draw, n=5)

In [ ]:
deck.groupby(get_suit, group_keys=False).apply(draw, n=2)

# Group Weighted Average and Correlation

In [2]:
import pandas as pd
import numpy as np
df = pd.DataFrame({'category': ['a', 'a', 'a', 'a', 'b', 'b', 'b', 'b'],'data': np.random.randn(8),
'weights': np.random.rand(8)})

In [3]:
df

  category      data   weights
0        a  2.018544  0.941941
1        a -0.616929  0.627286
2        a -0.090585  0.591640
3        a  0.246221  0.989365
4        b -1.338365  0.410589
5        b -0.441178  0.690111
6        b  0.941957  0.427968
7        b -2.027158  0.107085

In [4]:
grouped = df.groupby('category')

In [5]:
get_wavg = lambda g: np.average(g['data'], weights=g['weights'])

In [6]:
grouped.apply(get_wavg)

category
a    0.541029
b   -0.408333
dtype: float64

In [7]:
np.average([2,4],weights=[100,18])

2.3050847457627119

In [ ]:
((2*100)+(4*18))/float(100+18)#how a weightd averag works

In [ ]:
import pandas as pd
import numpy as np
agew = pd.read_csv("ageWeight.csv")

In [ ]:
agew['GestationalAge'].corr(agew['Birthweight'])

In [ ]:
"""For example, a correlation of r = 0.9 suggests a strong, positive association between two variables, 
whereas a correlation of r = -0.2 suggest a weak, negative association. 
A correlation close to zero suggests no linear association between two continuous variables."""

In [ ]:
grp = agew.groupby('SEX')

In [ ]:
grp['GestationalAge'].corr(agew['Birthweight'])

# Group-wise Linear Regression

In [156]:
#https://blog.datarobot.com/ordinary-least-squares-in-python
import statsmodels.api as sm
def regress(data, yvar, xvars):
    Y = data[yvar]
    X = data[xvars]
    X['intercept'] = 1.
    result = sm.OLS(Y, X).fit()
    
    
    predictions = result.predict(X)
    print predictions
    return result.params

In [157]:
#agew

In [158]:
'''import matplotlib.pyplot as plt
plt.scatter(agew['GestationalAge'],agew['Birthweight'])
plt.show()'''

"import matplotlib.pyplot as plt\nplt.scatter(agew['GestationalAge'],agew['Birthweight'])\nplt.show()"

In [159]:
'''m=50
b=1
reg_line=[(m*x)+b for x in agew['GestationalAge']]'''

"m=50\nb=1\nreg_line=[(m*x)+b for x in agew['GestationalAge']]"

In [160]:
'''plt.scatter(agew['GestationalAge'],agew['Birthweight'])
plt.plot(agew['GestationalAge'],reg_line)
plt.show()'''

"plt.scatter(agew['GestationalAge'],agew['Birthweight'])\nplt.plot(agew['GestationalAge'],reg_line)\nplt.show()"

In [161]:
#regress(agew,'Birthweight', ['GestationalAge'])

In [163]:
grp.apply(regress, 'Birthweight', ['GestationalAge'])

[ 1628.71090316  3059.48230179  2476.57543568  3165.46536836  2847.51616866
  3191.961135    2781.27675206  2874.0119353 ]
[ 1628.71090316  3059.48230179  2476.57543568  3165.46536836  2847.51616866
  3191.961135    2781.27675206  2874.0119353 ]
[ 1950.38605609  2279.79341047  3901.49115513  3369.37158266  2609.20076486
  2862.59103746  3901.49115513  3217.3374191   3217.3374191 ]

     GestationalAge    intercept
SEX
F        132.478833 -2252.918910
M        253.390273 -6842.256403

# Pivot Tables and Cross-Tabulation

In [180]:
tips.pivot_table(index=['sex', 'smoker'])

            size   tip   tip_pct   total_bill
sex smoker
F   No       2.5  11.0  0.009098  1233.500000
    yes      2.0   5.0  0.009434   530.000000
M   No       3.0  11.0  0.008562  1323.333333
    yes      1.5   7.5  0.011250   650.000000

In [181]:
tips.pivot_table(['tip_pct', 'size'], index=['sex', 'day'],columns='smoker')

          tip_pct                size
smoker         No       yes        No  yes
sex day
F   Sun  0.009908  0.009434  2.666667  2.0
    Tue  0.006667       NaN  2.000000  NaN
M   Mon  0.008365       NaN  3.500000  NaN
    Sun  0.008955  0.010000  2.000000  1.0
    Tue       NaN  0.012500       NaN  2.0

In [182]:
tips.pivot_table(['tip_pct', 'size'], index=['sex', 'day'],columns='smoker', margins=True)#ignores smoker versus non smoker

          tip_pct                          size
smoker         No       yes       All        No       yes  All
sex day
F   Sun  0.009908  0.009434  0.009790  2.666667  2.000000  2.5
    Tue  0.006667       NaN  0.006667  2.000000       NaN  2.0
M   Mon  0.008365       NaN  0.008365  3.500000       NaN  3.5
    Sun  0.008955  0.010000  0.009478  2.000000  1.000000  1.5
    Tue       NaN  0.012500  0.012500       NaN  2.000000  2.0
All      0.008868  0.010645  0.009401  2.714286  1.666667  2.4

In [183]:
tips.pivot_table('tip_pct', index=['sex', 'smoker'], columns='day',aggfunc=len, margins=True)# to use different aggregation function

day         Mon  Sun  Tue   All
sex smoker
F   No      NaN  3.0  1.0   4.0
    yes     NaN  1.0  NaN   1.0
M   No      2.0  1.0  NaN   3.0
    yes     NaN  1.0  1.0   2.0
All         2.0  6.0  2.0  10.0

In [184]:
tips.pivot_table('size', index=['time', 'sex', 'smoker'],\
columns='day', aggfunc='sum', fill_value=0)

day                   Mon  Sun  Tue
time      sex smoker
breakfast M   yes       0    1    0
dinner    F   No        0    6    0
              yes       0    2    0
          M   No        7    2    0
              yes       0    0    2
lunch     F   No        0    2    2

# Cross-Tabulations: Crosstab

In [71]:
"A cross-tabulation (or crosstabfor short) is a special case of a pivot table that computes group frequencies"

'A cross-tabulation (or crosstabfor short) is a special case of a pivot table that computes group frequencies'

In [185]:
data = pd.read_csv("handed.csv")

In [186]:
data

   Sample Gender    Handedness
0       1      F  Right-handed
1       2      M   left-handed
2       3      F  Right-handed
3       4      M  Right-handed
4       5      M   left-handed
5       6      M  Right-handed
6       7      F  Right-handed
7       8      F   left-handed
8       9      M  Right-handed
9      10      F  Right-handed

In [187]:
pd.crosstab(data.Gender, data.Handedness, margins=True)

Handedness  Right-handed  left-handed  All
Gender
F                      4            1    5
M                      3            2    5
All                    7            3   10

In [188]:
pd.crosstab([tips.time, tips.day], tips.smoker, margins=True)#more than one index

smoker         No  yes  All
time      day
breakfast Sun   0    1    1
dinner    Mon   2    0    2
          Sun   3    1    4
          Tue   0    1    1
lunch     Sun   1    0    1
          Tue   1    0    1
All             7    3   10

# Date and Time Data Types and Tools

In [2]:
from datetime import datetime

In [190]:
now = datetime.now()
now

datetime.datetime(2018, 10, 12, 9, 6, 34, 456000)

In [193]:
 now.year, now.month, now.day

(2018, 10, 12)

In [194]:
delta = datetime(2011, 1, 7) - datetime(2008, 6, 24, 8, 15,8)
delta

datetime.timedelta(926, 56692)

In [196]:
delta.days,delta.seconds

(926, 56692)

In [197]:
from datetime import timedelta

In [86]:
start = datetime(2011, 1, 7)

In [87]:
start + timedelta(12)

datetime.datetime(2011, 1, 19, 0, 0)

In [198]:
start - 2 * timedelta(12)

datetime.datetime(2010, 12, 14, 0, 0)

In [89]:
'''Type Description
date: Store calendar date (year, month, day) using the Gregorian calendar.
time :Store time of day as hours, minutes, seconds, and microseconds
datetime :Stores both date and time
timedelta :Represents the difference between two datetime values (as days, seconds, and microseconds)'''

'Type Description\ndate: Store calendar date (year, month, day) using the Gregorian calendar.\ntime :Store time of day as hours, minutes, seconds, and microseconds\ndatetime :Stores both date and time\ntimedelta :Represents the difference between two datetime values (as days, seconds, and microseconds)'

# Converting between string and datetime

In [200]:
stamp = datetime(2011, 1, 3)
stamp

datetime.datetime(2011, 1, 3, 0, 0)

In [201]:
str(stamp)

'2011-01-03 00:00:00'

In [203]:
stamp.strftime('%Y-%m-%d')

'2011-01-03'

In [204]:
value = '2011-01-03' #datetime.strptimeis the best way to parse a date with a known format.
datetime.strptime(value, '%Y-%m-%d')

datetime.datetime(2011, 1, 3, 0, 0)

In [205]:
datestrs = ['7/6/2011', '8/6/2011']
[datetime.strptime(x, '%m/%d/%Y') for x in datestrs]

[datetime.datetime(2011, 7, 6, 0, 0), datetime.datetime(2011, 8, 6, 0, 0)]

In [206]:
from dateutil.parser import parse

In [207]:
parse('2011-01-03')#in order to avoid the format specifier user parse

datetime.datetime(2011, 1, 3, 0, 0)

In [208]:
parse('Jan 31, 1997 10:45 PM')#parsing almost any human-intelligible date representation

datetime.datetime(1997, 1, 31, 22, 45)

In [210]:
parse('6/12/2011', dayfirst=True)#day appearing before month i

datetime.datetime(2011, 12, 6, 0, 0)

In [211]:
pd.to_datetime(datestrs)#  to_datetime method parses many different kinds of date representations.

DatetimeIndex(['2011-07-06', '2011-08-06'], dtype='datetime64[ns]', freq=None)

In [212]:
idx = pd.to_datetime(datestrs + [None])
idx

DatetimeIndex(['2011-07-06', '2011-08-06', 'NaT'], dtype='datetime64[ns]', freq=None)

In [213]:
pd.isnull(idx)

array([False, False,  True], dtype=bool)

In [ ]:
Type Description
%Y 4-digit year
%y 2-digit year
%m 2-digit month [01, 12]
%d 2-digit day [01, 31]
%H Hour (24-hour clock) [00, 23]
%I Hour (12-hour clock) [01, 12]
#refer page 292 in book for more formats

# Time Series Basics

In [3]:
from datetime import datetime
import numpy as np

In [23]:
dates = [datetime(2011, 1, 2), datetime(2011, 1, 5), datetime(2011, 1, 7),\
         datetime(2011, 1, 8), datetime(2011, 1, 10), datetime(2011, 1, 12)]

In [24]:
ts = pd.Series(np.random.randn(6), index=dates)

In [25]:
ts

2011-01-02    0.461797
2011-01-05    0.675424
2011-01-07    0.242743
2011-01-08   -0.914362
2011-01-10   -0.080416
2011-01-12    0.324242
dtype: float64

In [111]:
type(ts)

pandas.core.series.Series

In [218]:
ts.index

DatetimeIndex(['2011-01-02', '2011-01-05', '2011-01-07', '2011-01-08',
               '2011-01-10', '2011-01-12'],
              dtype='datetime64[ns]', freq=None)

In [219]:
ts + ts[:]#addition

2011-01-02   -1.639503
2011-01-05   -0.449928
2011-01-07   -0.892903
2011-01-08   -0.226877
2011-01-10    0.747547
2011-01-12   -0.327784
dtype: float64

In [220]:
stamp = ts.index[0]#scalar value
stamp

Timestamp('2011-01-02 00:00:00')

# Time Series with Duplicate Indices

In [221]:
dates = pd.DatetimeIndex(['1/1/2000', '1/2/2000', '1/2/2000', '1/2/2000','1/3/2000'])

In [222]:
dates

DatetimeIndex(['2000-01-01', '2000-01-02', '2000-01-02', '2000-01-02',
               '2000-01-03'],
              dtype='datetime64[ns]', freq=None)

In [223]:
dup_ts = pd.Series(np.arange(5), index=dates)
dup_ts

2000-01-01    0
2000-01-02    1
2000-01-02    2
2000-01-02    3
2000-01-03    4
dtype: int32

In [224]:
dup_ts.index.is_unique#index is not unique

False

In [225]:
dup_ts['1/3/2000']#not duplicated

4

In [226]:
dup_ts['1/2/2000']#duplicated

2000-01-02    1
2000-01-02    2
2000-01-02    3
dtype: int32

In [227]:
#aggregate the data having non-unique timestamps.
grouped = dup_ts.groupby(level=0)

In [228]:
grouped.mean()

2000-01-01    0
2000-01-02    2
2000-01-03    4
dtype: int32

In [229]:
grouped.count()

2000-01-01    1
2000-01-02    3
2000-01-03    1
dtype: int64

# Date Ranges, Frequencies, and Shifting

In [26]:
ts

2011-01-02    0.461797
2011-01-05    0.675424
2011-01-07    0.242743
2011-01-08   -0.914362
2011-01-10   -0.080416
2011-01-12    0.324242
dtype: float64

In [9]:
ts.resample('D').mean()#time series, converting it to be fixed daily frequency can be accomplished by calling resample

2011-01-02    0.263776
2011-01-03         NaN
2011-01-04         NaN
2011-01-05    0.901293
2011-01-06         NaN
2011-01-07   -1.251194
2011-01-08   -0.264977
2011-01-09         NaN
2011-01-10   -0.269615
2011-01-11         NaN
2011-01-12    1.966747
Freq: D, dtype: float64

# Generating Date Ranges

In [28]:
import pandas as pd
index = pd.date_range('4/1/2012', '6/1/2012')
index

DatetimeIndex(['2012-04-01', '2012-04-02', '2012-04-03', '2012-04-04',
               '2012-04-05', '2012-04-06', '2012-04-07', '2012-04-08',
               '2012-04-09', '2012-04-10', '2012-04-11', '2012-04-12',
               '2012-04-13', '2012-04-14', '2012-04-15', '2012-04-16',
               '2012-04-17', '2012-04-18', '2012-04-19', '2012-04-20',
               '2012-04-21', '2012-04-22', '2012-04-23', '2012-04-24',
               '2012-04-25', '2012-04-26', '2012-04-27', '2012-04-28',
               '2012-04-29', '2012-04-30', '2012-05-01', '2012-05-02',
               '2012-05-03', '2012-05-04', '2012-05-05', '2012-05-06',
               '2012-05-07', '2012-05-08', '2012-05-09', '2012-05-10',
               '2012-05-11', '2012-05-12', '2012-05-13', '2012-05-14',
               '2012-05-15', '2012-05-16', '2012-05-17', '2012-05-18',
               '2012-05-19', '2012-05-20', '2012-05-21', '2012-05-22',
               '2012-05-23', '2012-05-24', '2012-05-25', '2012-05-26',
               '2012-05-27', '2012-05-28', '2012-05-29', '2012-05-30',
               '2012-05-31', '2012-06-01'],
              dtype='datetime64[ns]', freq='D')

In [30]:
pd.date_range(start='4/1/2012', periods=20,freq='D')

DatetimeIndex(['2012-04-01', '2012-04-02', '2012-04-03', '2012-04-04',
               '2012-04-05', '2012-04-06', '2012-04-07', '2012-04-08',
               '2012-04-09', '2012-04-10', '2012-04-11', '2012-04-12',
               '2012-04-13', '2012-04-14', '2012-04-15', '2012-04-16',
               '2012-04-17', '2012-04-18', '2012-04-19', '2012-04-20'],
              dtype='datetime64[ns]', freq='D')

In [31]:
 pd.date_range(end='6/1/2012', periods=20)

DatetimeIndex(['2012-05-13', '2012-05-14', '2012-05-15', '2012-05-16',
               '2012-05-17', '2012-05-18', '2012-05-19', '2012-05-20',
               '2012-05-21', '2012-05-22', '2012-05-23', '2012-05-24',
               '2012-05-25', '2012-05-26', '2012-05-27', '2012-05-28',
               '2012-05-29', '2012-05-30', '2012-05-31', '2012-06-01'],
              dtype='datetime64[ns]', freq='D')

In [34]:
# 'BM'frequency (business end of month)
pd.date_range('1/1/2000', '12/1/2000', freq='BM')

DatetimeIndex(['2000-01-31', '2000-02-29', '2000-03-31', '2000-04-28',
               '2000-05-31', '2000-06-30', '2000-07-31', '2000-08-31',
               '2000-09-29', '2000-10-31', '2000-11-30'],
              dtype='datetime64[ns]', freq='BM')

In [35]:
pd.date_range('5/2/2012 12:56:31', periods=5)

DatetimeIndex(['2012-05-02 12:56:31', '2012-05-03 12:56:31',
               '2012-05-04 12:56:31', '2012-05-05 12:56:31',
               '2012-05-06 12:56:31'],
              dtype='datetime64[ns]', freq='D')

In [36]:
"""have start or end dates with time information but want to generate
a set of timestamps  normalized to midnight as a convention"""
pd.date_range('5/2/2012 12:56:31', periods=5, normalize=True)

DatetimeIndex(['2012-05-02', '2012-05-03', '2012-05-04', '2012-05-05',
               '2012-05-06'],
              dtype='datetime64[ns]', freq='D')

# Frequencies and Date Offsets

In [37]:
from pandas.tseries.offsets import Hour, Minute

In [38]:
hour = Hour()

In [39]:
hour

In [40]:
four_hours = Hour(4)

In [41]:
four_hours

In [32]:
pd.date_range('1/1/2000', '1/3/2000 23:59', freq='4h')

DatetimeIndex(['2000-01-01 00:00:00', '2000-01-01 04:00:00',
               '2000-01-01 08:00:00', '2000-01-01 12:00:00',
               '2000-01-01 16:00:00', '2000-01-01 20:00:00',
               '2000-01-02 00:00:00', '2000-01-02 04:00:00',
               '2000-01-02 08:00:00', '2000-01-02 12:00:00',
               '2000-01-02 16:00:00', '2000-01-02 20:00:00',
               '2000-01-03 00:00:00', '2000-01-03 04:00:00',
               '2000-01-03 08:00:00', '2000-01-03 12:00:00',
               '2000-01-03 16:00:00', '2000-01-03 20:00:00'],
              dtype='datetime64[ns]', freq='4H')

In [42]:
Hour(2) + Minute(30)# 120 min +30

In [36]:
 pd.date_range('1/1/2000', periods=10, freq='1h30min')

DatetimeIndex(['2000-01-01 00:00:00', '2000-01-01 01:30:00',
               '2000-01-01 03:00:00', '2000-01-01 04:30:00',
               '2000-01-01 06:00:00', '2000-01-01 07:30:00',
               '2000-01-01 09:00:00', '2000-01-01 10:30:00',
               '2000-01-01 12:00:00', '2000-01-01 13:30:00'],
              dtype='datetime64[ns]', freq='90T')

In [45]:
rng = pd.date_range('1/1/2012', '9/1/2012', freq='WOM-3FRI')
#get dates like the third Friday of each month

In [46]:
rng

DatetimeIndex(['2012-01-20', '2012-02-17', '2012-03-16', '2012-04-20',
               '2012-05-18', '2012-06-15', '2012-07-20', '2012-08-17'],
              dtype='datetime64[ns]', freq='WOM-3FRI')

# Shifting (Leading and Lagging) Data

In [47]:
ts = pd.Series([2,4,6,8], index=pd.date_range('1/1/2000', periods=4, freq='M'))

In [48]:
ts

2000-01-31    2
2000-02-29    4
2000-03-31    6
2000-04-30    8
Freq: M, dtype: int64

In [49]:
ts.shift(2)

2000-01-31    NaN
2000-02-29    NaN
2000-03-31    2.0
2000-04-30    4.0
Freq: M, dtype: float64

In [50]:
ts.shift(-2)

2000-01-31    6.0
2000-02-29    8.0
2000-03-31    NaN
2000-04-30    NaN
Freq: M, dtype: float64

In [51]:
ts / ts.shift(1) - 1

2000-01-31         NaN
2000-02-29    1.000000
2000-03-31    0.500000
2000-04-30    0.333333
Freq: M, dtype: float64

In [50]:
ts.shift(2, freq='M')

2000-03-31    2
2000-04-30    4
2000-05-31    6
2000-06-30    8
Freq: M, dtype: int64

In [53]:
ts.shift(3, freq='D')

2000-02-03    2
2000-03-03    4
2000-04-03    6
2000-05-03    8
dtype: int64

In [54]:
ts.shift(1, freq='3D')

2000-02-03    2
2000-03-03    4
2000-04-03    6
2000-05-03    8
dtype: int64

In [55]:
ts.shift(1, freq='90T')

2000-01-31 01:30:00    2
2000-02-29 01:30:00    4
2000-03-31 01:30:00    6
2000-04-30 01:30:00    8
Freq: M, dtype: int64

# Shifting dates with offsets

In [56]:
from pandas.tseries.offsets import Day, MonthEnd

In [57]:
now = datetime(2011, 11, 17)
now

datetime.datetime(2011, 11, 17, 0, 0)

In [59]:
now + 3 * Day()

Timestamp('2011-11-20 00:00:00')

In [60]:
'''If you add an anchored offset like  MonthEnd, the first increment will  roll forwarda date
to the next date according to the frequency rule'''
now + MonthEnd()

Timestamp('2011-11-30 00:00:00')

In [61]:
now + MonthEnd(2)

Timestamp('2011-12-31 00:00:00')

In [62]:
offset = MonthEnd()

In [63]:
offset.rollforward(now)

Timestamp('2011-11-30 00:00:00')

In [65]:
offset.rollback(now)

Timestamp('2011-10-31 00:00:00')

In [66]:
ts = pd.Series(np.random.randn(20),index=pd.date_range('1/15/2000', periods=20, freq='4d'))

In [67]:
ts

2000-01-15    0.411148
2000-01-19   -0.219543
2000-01-23   -0.402988
2000-01-27    1.703488
2000-01-31   -1.423699
2000-02-04    0.217568
2000-02-08   -0.025355
2000-02-12    0.025991
2000-02-16    0.480746
2000-02-20   -2.261020
2000-02-24    0.763642
2000-02-28   -0.524375
2000-03-03   -0.422168
2000-03-07    0.135912
2000-03-11    0.571669
2000-03-15   -1.677632
2000-03-19    0.385175
2000-03-23    0.641459
2000-03-27    0.167131
2000-03-31    0.186336
Freq: 4D, dtype: float64

In [71]:
ts.truncate(before="2000-01-27",after="2000-03-19")

2000-01-27    1.703488
2000-01-31   -1.423699
2000-02-04    0.217568
2000-02-08   -0.025355
2000-02-12    0.025991
2000-02-16    0.480746
2000-02-20   -2.261020
2000-02-24    0.763642
2000-02-28   -0.524375
2000-03-03   -0.422168
2000-03-07    0.135912
2000-03-11    0.571669
2000-03-15   -1.677632
2000-03-19    0.385175
Freq: 4D, dtype: float64

In [70]:
ts.groupby(offset.rollforward).mean()

2000-01-31    0.345407
2000-02-29    0.606361
2000-03-31   -0.269870
dtype: float64

In [70]:
ts.resample('M', how='mean')

C:\Program Files\Anaconda2\lib\site-packages\ipykernel\__main__.py:1: FutureWarning: how in .resample() is deprecated
the new syntax is .resample(...).mean()
  if __name__ == '__main__':

2000-01-31    0.013681
2000-02-29   -0.188972
2000-03-31   -0.001515
Freq: M, dtype: float64